################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.ipch
/.vs/h1emu_cpp/v16
/h1emu_cpp/x64/Release/h1emu_cpp.tlog
/h1emu_cpp/x64/Release
/x64/Release
/.vs/h1emu_cpp/v17
/.vs/h1emu_cpp/FileContentIndex
/.vs
